.addExerciseNoData {
  color: var(--text-light);
  text-align: center;

  margin-top: 12vh;
}

.addExerciseNoData svg {
  margin-top: 30px;
  transform: rotate(-140deg) !important;
  height: 100px;
  width: 100px;
}
