.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  /* opacity: 0.4; */
  color: var(--text-light);
}

.noData svg {
  font-size: 100px;
}

.noData button {
  font-size: 14px;
}
