.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.712);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5;
}

.modal-wrapper article {
  background-color: white;
  width: 50vw;
  height: 50vh;
}
