.card {
  /* border: 2px solid var(--main-color); */
  box-shadow: 0px 0px 20px rgba(11, 11, 11, 0.08);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.2s;
  position: relative;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  height: 100px;
  margin: auto;
}

.card h3 {
  font-size: 18px;
  margin: 0 0 0px 10px;
  text-transform: uppercase;
}

.card button {
  font-size: 14px;
}

.card .star-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card svg {
  height: 25px;
  width: 25px;
  cursor: pointer;
  fill: var(--text-light);
}

.card svg:hover {
  fill: var(--main-color);
}

.card .full svg {
  fill: var(g);
}
